.partial-navbar {
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(28, 28, 28, 0.62);
    color: #FDF7F4;
    font-size: 20px;
    position:relative;
}

