@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Portfolio.Core.DTOs
@model List<ProjectDto>

<div class="container mt-5 mb-5">
    
    <div class="project-section justify-content-center row gap-5">
        <div class="project-card col-4 ">
            <div class="project-card-inner">
                <div class="project-card-front">
                    <div class="card-front-content">
                        <h3>Moviely APP</h3>
                    </div>
                </div>
                <div class="project-card-back">
                    <div class="card-back-content">
                        <p>
                            <strong>Moviely APP</strong>
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card col-4">
            <div class="project-card-inner">
                <div class="project-card-front">
                    <div class="card-front-content">
                        <h3>Moviely APP</h3>
                    </div>
                </div>
                <div class="project-card-back">
                    <div class="card-back-content">
                        <p>
                            <strong>Moviely APP</strong>
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-card col-4">
            <div class="project-card-inner">
                <div class="project-card-front">
                    <div class="card-front-content">
                        <h3>Moviely APP</h3>
                    </div>
                </div>
                <div class="project-card-back">
                    <div class="card-back-content">
                        <p>
                            <strong>Moviely APP</strong>
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-card col-4">
            <div class="project-card-inner">
                <div class="project-card-front">
                    <div class="card-front-content">
                        <h3>Moviely APP</h3>
                    </div>
                </div>
                <div class="project-card-back">
                    <div class="card-back-content">
                        <p>
                            <strong>Moviely APP</strong>
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
  

</div>