@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}
@await Component.InvokeAsync("HeroSection")
<div class="container white-divider" id="user-info" style=""></div>
@await Component.InvokeAsync("UserInfo")
<div class="container white-divider" id="skill" style=""></div>
@await Component.InvokeAsync("SkillSection")
<div class="container white-divider" id="experience" style=""></div>
@await Component.InvokeAsync("ExperienceSection")
<div class="container white-divider" id="project" style=""></div>
@await Component.InvokeAsync("ProjectSection")  