@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Portfolio.Core.DTOs
@model UserInfoDto


@if(Model is not null)
{
<div data-aos="fade-up" data-aos-duration="500" class="container mt-3 mb-5">
    <div class="row">
        <div class="col text-white">
            <h2 class="text-center">About Me</h2>
            <div class="information-section">
                <h4 class="text-center">Who am I</h4>
                <p>
                    @Model.UserDescription
                </p>
            </div>
        </div>
    </div>
</div>
}